caption {
  margin: auto;
  font-size: 64pt;
  color: darkblue;
  background-color: lightblue;
  border-color:  darkblue;
  border-style: outset;
}

section {
  width: 66%;
  margin: auto;
  text-align: center;
}
