<section id="drum-machine" class="mt-10 md:flex">
 <button class="btn drum-pad" id="tom1" (click)="onTap('Q','RDM_Raw_SY1-Tom01.wav',this)">
  <audio class="clip" id="Q" src="RDM_Raw_SY1-Tom01.wav"></audio>
   Q</button>

<button class="btn drum-pad" id="snare" (click)="playMedia('W')">
  <audio class="clip" id="W" src=""></audio>
  W</button>

<button class="btn drum-pad" id="bongo1" (click)="playMedia('E')">
  <audio class="clip" id="E" src=""></audio>
  E</button>

<button class="btn drum-pad" id="bongo2" (click)="playMedia('A')">
  <audio class="clip" id="A" src=""></audio>
  A</button>

<button class="btn drum-pad" id="symbol1" (click)="playMedia('S')">
  <audio class="clip" id="S" src=""></audio>
  S</button>

<button class="btn drum-pad" id="symbol2" (click)="playMedia('D')">
  <audio class="clip" id="D" src=""></audio>
  D</button>

<button class="btn drum-pad" id="tom1" (click)="playMedia('Z')">
  <audio class="clip" id="Z" src=""></audio>
  Z</button>

<button class="btn drum-pad" id="tom2" (click)="playMedia('Z')">
  <audio class="clip" id="X" src=""></audio>
  X</button>

<button class="btn drum-pad" id="tom3" (click)="playMedia('C')">
  <audio class="clip" id="C" src=""></audio>
C</button>

<button *ngFor="let drumpad of drumKeys | keyvalue" class="btn drum-pad" id={{drumpad.value}} >
  {{drumpad.key}}</button>


<caption id="display" #display>

</caption>

</section>
